.card{
    background-color: #d4b36cfd;
    padding: 1rem;
    margin: 2rem auto;
    width: 50rem;
    max-width: 90%;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}